<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Thermostat Control</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='jquery-3.7.1.slim.min.js') }}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
https://releases.jquery.com/jquery/ -->
</head>
<body><span onclick="topFunction()" title="Go to top"><img alt="Go to top" class="to-top-img" id="to-top" decoding="async" src="{{ url_for('static', filename='top.png') }}"></span>
<div class="mode-container"><div class="mode-option">
<input type="radio" id="cool" name="mode" value="cool">
<label for="cool">Cool</label>
</div><div class="mode-option">
<input type="radio" id="heat" name="mode" value="heat">
<label for="heat">Heat</label>
</div></div>
<center><div id="current-temp">...loading</div>
<div id="latest-reading"></div>
<div class="row"><div class="column">
<label for="setpoint">Temperature:</label><br>
<input type="number" id="setpoint">
</div><div class="column"><label for="passive-hys"><a href="https://github.com/i1li/PyHTCC_web#what-is-hysteresis" title="What is Hysteresis?">Passive Hysteresis</a>:</label><br>
<input type="number" id="passive-hys" placeholder="(optional)">
</div><div class="column"><label for="active-hys"><a href="https://github.com/i1li/PyHTCC_web#what-is-hysteresis" title="What is Hysteresis?">Active Hysteresis</a>:</label><br>
<input type="number" id="active-hys" placeholder="(optional)">
</div></div><div class="hold-container"><div class="hold-option">
<input type="radio" id="sched" name="hold" value="sched">
<label for="sched">Follow Schedule</label>
</div><div class="hold-option">
<input type="radio" id="temp" name="hold" value="temp">
<label for="temp">Temporary Hold</label>
</div><div class="hold-option">
<input type="radio" id="perm" name="hold" value="perm">
<label for="perm">Permanent Hold</label>
</div></div>
<div id="warning">* * * You have unsaved changes * * *</div>
<div id="temp-hold-info">
<label for="hold-time">Holds temperature setting above, until schedule resumes at time & temp below:</label>
<input type="time" id="hold-time" readonly>
<a id="prev-timeslot" title="Previous Timeslot">⏮ Back</a>&nbsp; | &nbsp;<a id="next-timeslot" title="Next Timeslot">Next ⏭</a><br>
<div class="row"><div class="column">
<label for="next-cool-temp">Cool Temp:</label>
<input type="number" id="next-cool-temp" readonly>
</div><div class="column">
<label for="next-heat-temp">Heat Temp:</label>
<input type="number" id="next-heat-temp" readonly>
</div></div></div>
<button id="apply">Apply Changes</button></center>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Schedule:</b>
<div class="sched-controls">
<select id="load-sched">
<option value="">Saved Schedules:</option></select>
<button id="import-sched">Import Schedules</button>
<input type="file" id="import-sched-file" style="display:none;" accept=".json">
<button id="export-sched">Export Schedules</button>
</div><div id="schedule"></div>
<button id="add-timeslot">Add Timeslot</button>
<button id="clear-sched">Clear Schedule</button>
<button id="save-sched">Save Schedule</button>
<center><div id="warning2">* * * You have unsaved changes * * *</div>
<span onclick="topFunction()" title="Go to top"><img alt="Go to top" class="to-top-img" decoding="async" src="{{ url_for('static', filename='top.png') }}"></span></center>
<script src="{{ url_for('static', filename='init.js') }}"></script>
<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script src="{{ url_for('static', filename='schedule.js') }}"></script>
<script src="{{ url_for('static', filename='hysteresis.js') }}"></script>
<script src="{{ url_for('static', filename='IntervalManager.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
