<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Thermostat Control</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
</head>
<body>
<h3>Thermostat Control</h3>
<div class="mode-container">
    <div class="mode-option">
        <input type="radio" id="cool" name="mode" value="cool" checked>
        <label for="cool">Cooling</label>
    </div>
    <div class="mode-option">
        <input type="radio" id="heat" name="mode" value="heat">
        <label for="heat">Heating</label>
    </div>
</div>
<center><label for="setpoint">Set Temperature:</label>
<input type="number" id="setpoint" placeholder="Set Temperature" />
<br>
<label for="cycle_range">Set <a href="#what-is-cycle-range" title="What is Cycle Range?">Cycle Range</a>:</label>
<input type="number" id="cycle_range" placeholder="Cycle Range (optional)" />
<div class="hold-container">
    <div class="hold-option">
        <input type="radio" id="follow_schedule" name="hold" value="schedule">
        <label for="follow_schedule">Follow Schedule</label>
    </div>
    <div class="hold-option">
        <input type="radio" id="temp_hold" name="hold" value="temporary">
        <label for="temp_hold">Temporary Hold</label>
    </div>
    <div class="hold-option">
        <input type="radio" id="perm_hold" name="hold" value="permanent" checked>
        <label for="perm_hold">Permanent Hold</label>
    </div>
</div>
<div class="schedule-controls">
    <select id="load_schedule">
        <option value="">Load Saved Schedule</option>
    </select>
    <button id="importSchedules">Import Schedules</button>
    <input type="file" id="importFile" style="display:none;" accept=".json">
    <button id="exportSchedules">Export Schedules</button>
    </div>
<div id="temp_hold_options">
    <label for="hold_until_time">Temporary Hold: Holds the temperature set above until schedule resumes at the following time & temp:</label>
<a id="prev_timeslot">⏮Previous Schedule Timeslot</a>  |  <a id="next_timeslot">Next Schedule Timeslot⏭</a><br>
<input type="time" id="hold_until_time" readonly />
    <div class="temp-inputs">
        <label for="hold_until_heat_temp">Heat Temp:</label>
        <input type="number" id="hold_until_heat_temp" placeholder="Heat Temp" readonly />
        <label for="hold_until_cool_temp">Cool Temp:</label>
        <input type="number" id="hold_until_cool_temp" placeholder="Cool Temp" readonly />
    </div>
</div>
<button id="apply">Apply Changes</button>
<h4>Schedule</h4></center>
<div id="schedule"></div>
<button id="add_timeslot">Add Timeslot</button>
<button id="clear_schedule">Clear Schedule</button>
<button id="save_schedule">Save Schedule</button>
<center><div id="status">Status: Loading...</div>
<div id="what-is-cycle-range"><h4>What is Cycle Range?</h4><p>
    Cycle Range is the amount of degrees away from setpoint allowed while in rest between cycles, before starting another cycle of cooling/heating to setpoint. Leave this value blank or 0 for default behavior. Useful to reduce frequent on/off cycles, such as when the output of the unit is high relative to the space controlled. The system will cool/heat until reaching setpoint, and then rests until temp reaches the set temp plus (or minus in the case of heat) the Cycle Range.</p></div></center>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
